<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div class="container">
            <div th:replace="fragments/bodyHeader :: bodyHeader" />
            <br>
            <div class="jumbotron"> <h1>친구에게 이체</h1>
                <br>
                <p>
                    <a class="btn btn-lg btn-dark" href="/accounts/new">내 은행/잔액 등록</a>
                    <a class="btn btn-lg btn-dark" href="/accounts">내 은행/잔액 목록</a>
                </p>

                <br>
                <p>
                    <a class="btn btn-lg btn-secondary" href="/friends/new">친구 등록</a>
                    <a class="btn btn-lg btn-secondary" href="/friends">친구 목록</a>
                </p>

                <br>
                <p>
                    <a class="btn btn-lg btn-info" href="/transfer">이체하기</a>
                    <a class="btn btn-lg btn-info" href="/transfers">이체 내역</a>
                </p>
            </div>
            <div th:replace="fragments/footer :: footer" />
        </div> <!-- /container -->
    </body>
</html>